snippet egcd extended gcd
    $0 extended_gcd($0 a, $0 b, $0 *x, $0 *y) {
        if (b == 0) {
            *x = 1;
            *y = 0;
            return a;
        }
        $0 x0, y0;
        $0 gcd = extended_gcd(b, a % b, &x0, &y0);
        *x = y0;
        *y = x0 - (a / b) * y0;
        return gcd;
    }
