extends algorithms_c

snippet mainc mainc
    #include <stdio.h>
    #include <stdlib.h>
    #include <unistd.h>
    #include <string.h>
    #include <memory.h>

    int main(int argc, char * argv[]){
        $0
        return 0;
    }

snippet main main
    int main(int argc, char * argv[]){
        $0
        return 0;
    }

snippet ifor
    for(int $1 = 0; $1 < $2; ++$1){
    	$0
    }
